*, *::before, *::after {
    box-sizing: border-box;
}

/* custom properties */
:root {
    --ff-ubuntu: 'Ubuntu', sans-serif;
    --ff-roboto-mono: 'Roboto Mono', monospace;
    --ff-varela-round:  'Varela Round', sans-serif;

    --fw-reg: 400;
    --fw-bold: 700;

    --nav-bg: #03000e;
}

/* general properties */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: var(--ff-ubuntu), var(--ff-varela-round);
    line-height: 1.25;
    letter-spacing: 1.25px;
}

/* header */
    /* navbar */
/* .nav {
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    padding: 1.5em;
    font-family: var(--ff-ubuntu);
    z-index: 99;
}

.nav__list--items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.decor-none {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: var(--fw-bold);
}

.nav__list--items span {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__list--item {
    margin-inline: 2.5em;
    list-style: none;
}

.nav__logo--img {
    width: 50px;
}

.search-bar {
    padding: .55em;
    border-radius: 5px;
}

#search-btn {
    background: transparent;
    border: none;
}

.fa-search {
    padding: .65em;
    border-radius: 5px;
}

.nav__profile--img {
    width: 50px;
    border-radius: 50%;
} */

header {
    width: 100vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background: #03000e;
  }
  
  nav .logo {
    color: #fff;
    text-decoration-color: var(--main-clr);
    font-size: 22px;
    font-family: "Playfair Display", serif;
    font-weight: 100;
  }

  .brand {
      margin-left: 10px;
  }

  .brand-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: white;
  }

  .nav__logo--img {
    width: 50px;
    border-radius: 50%;
}

.nav__profile--img {
    width: 50px;
    border-radius: 50%;
}
  
  nav ul {
    --padding: 20px;
    --font-size: 17px;
  
    list-style: none;
    display: flex;
    align-items: center;
    font-size: var(--font-size);
    overflow-y: hidden;
    transition: 1s cubic-bezier(.68,-0.55,.27,1.55);
  }
  
  nav ul li {
    padding: var(--padding);
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
  }
  
  nav ul li a::after {
    content: "";
    width: 0%;
    height: 2.5px;
    border-radius: 99px;
    background: var(--main-clr);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }
  
  nav ul li a:hover::after {
    width: 100%;
  }
  
  nav .menu {
    width: 22px;
    height: 16px;
    cursor: pointer;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 20px;
  }
  
  nav .menu span {
    height: 2px;
    width: 100%;
    border-radius: 99px;
    background: #fff;
    transition: 0.2s ease;
    transform-origin: left;
  }
  
  nav .menu.active span {
    background: lightcoral;
  }
  
  nav .menu.active span:nth-child(1) {
    transform: rotate(40deg);
  }
  
  nav .menu span:nth-child(3) {
    transform-origin: left;
  }
  
  nav .menu.active span:nth-child(3) {
    transform: rotate(-40deg);
  }
  
  nav .menu.active span:nth-child(2) {
    transform: scale(0);
  }
  
  @media (max-width: 992px) {
    nav {
        margin-top: 1em;
    }

    nav .menu {
      display: flex;
    }
  
    nav ul {
      --height: 0px;
  
      flex-direction: column;
      background: var(--nav-bg);
      position: absolute;
      width: 100%;
      left: 0;
      top: 35px;
      height: var(--height);
      transition: 1s cubic-bezier(.68,-0.55,.27,1.55);
    }
  
    nav ul.active {
      --height: calc(
        (((var(--padding) * 2) + (var(--font-size) * 1.5))) * var(--childenNumber)
      );
      transition: 1s ease;
    }
  
    nav ul li {
      width: 100%;
      text-align: center;
    }
    nav ul li a {
      width: 100%;
      text-transform: capitalize;
    }
  }
  


/* main styling */
.main {
    width: 90%;
    margin: 0 auto;
}

.container-main-body {
    margin-top: 6.5rem;
}

.container-songs {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

/* footer styling
    music section styling */
/* .footer {
    font-family: var(--ff-roboto-mono);
}

.music-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.music-player-img-container {
    width: 80px;
    height: 50px;
    background-size: cover;
    border-radius: 5px;
    margin-right: -5%;
}

.music-player-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.music-info-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div__title {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2em;
}

.progress-container {
    margin-top: .25em;
}

.icons {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa,
.fas {
    color: white;
}

.action-btn {
    margin-inline: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}

#myProgressBar {
    width: 40vw;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.footer__container--volume-controller {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.div-container{
    min-height: 72vh;
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: var(--ff-varela-round);
    display: flex;
    justify-content: center;
    margin: 23px auto;
    margin-top: -7rem;
    width: 100%;
    padding: 34px;
}

.bottom{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 110px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 5px; 
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: var(--ff-varela-round);
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
