*, *::before, *::after {
    box-sizing: border-box;
}

/* custom properties */
:root {
    --ff-ubuntu: 'Ubuntu', sans-serif;
    --ff-roboto-mono: 'Roboto Mono', monospace;
    --ff-varela-round:  'Varela Round', sans-serif;

    --fw-reg: 400;
    --fw-bold: 700;
}

/* general properties */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: var(--ff-ubuntu), var(--ff-varela-round);
    line-height: 1.25;
    letter-spacing: 1.25px;
}

/* header */
    /* navbar */
.nav {
    position: fixed;
    background-color: black;
    width: 100%;
    padding: 1.5em;
    font-family: var(--ff-ubuntu);
    z-index: 99;
}

.nav__list--items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: var(--fw-bold);
}

.nav__list--items span {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__list--item {
    margin-inline: 2.5em;
    list-style: none;
}

.nav__logo--img {
    width: 50px;
}

.search-bar {
    padding: .55em;
    border-radius: 5px;
}

#search-btn {
    background: transparent;
    border: none;
}

.fa-search {
    padding: .65em;
    border-radius: 5px;
}

.nav__profile--img {
    width: 50px;
    border-radius: 50%;
}

/* main styling */
.main {
    width: 90%;
    margin: 0 auto;
}

.container-main-body {
    margin-top: 6.5rem;
}

.container-songs {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

/* footer styling
    music section styling */
.footer {
    font-family: var(--ff-roboto-mono);
}

.music-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.music-player-img-container {
    width: 80px;
    height: 50px;
    background-size: cover;
    border-radius: 5px;
    margin-right: -5%;
}

.music-player-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.music-info-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div__title {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2em;
}

.progress-container {
    margin-top: .25em;
}

.icons {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa,
.fas {
    color: white;
}

.action-btn {
    margin-inline: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}

#myProgressBar {
    width: 40vw;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.footer__container--volume-controller {
    display: flex;
    justify-content: center;
    align-items: center;
}